.vscode/**
.github/**
.gitignore
.gitattributes
.editorconfig
build-and-install.bat
install-virtual-whip.bat
tsconfig.json
src/**
scripts/**
test/**
docs/**
node_modules/**
out/**/*.map
*.vsix
VERSION.txt
SECURITY.md
